defaults:
  - machine: aws
  - model: mapanything_v1
  - dataset: uavtrain_7d_518_many_ar
  - loss: overall_loss_weigh_pm_higher
  - train_params: finetune_with_lower_encoder_lr
  - distributed: default
  - _self_

output_dir: ${hydra:run.dir}
root_data_dir: ${machine.root_data_dir}
mapanything_dataset_metadata_dir: ${machine.mapanything_dataset_metadata_dir}
root_pretrained_checkpoints_dir: ${machine.root_pretrained_checkpoints_dir}
root_experiments_dir: ${machine.root_experiments_dir}
root_uniception_pretrained_checkpoints_dir: ${machine.root_uniception_pretrained_checkpoints_dir}

train_params:
  lr: 1e-05
  min_lr: 1e-07
  submodule_configs:
    encoder:
      lr: 5e-07
      min_lr: 5e-09
  epochs: 20
  warmup_epochs: 1
  accum_iter: 8
  keep_freq: 20
  max_num_of_imgs_per_gpu: 16

dataset:
  num_workers: 4
  num_views: 16

model:
  task: 
    mvs_training:
      
  encoder:
    gradient_checkpointing: true
  info_sharing:
    module_args:
      gradient_checkpointing: true
  pred_head:
    gradient_checkpointing: true
  pretrained: 'checkpoints/mapa/map-anything.pth'

hydra:
  run:
    dir: ${root_experiments_dir}/mapanything/training/debug

